<div class="skeleton-container">
  @for (item of skeletonItems; track $index) {
  <div class="skeleton-item">
    <div class="skeleton-avatar shimmer"></div>
    <div class="skeleton-content">
      <div class="skeleton-line skeleton-line--name shimmer"></div>
      <div class="skeleton-line skeleton-line--email shimmer"></div>
    </div>
    <div class="skeleton-content">
      <div class="skeleton-line skeleton-line--phone shimmer"></div>
    </div>
    <div class="skeleton-content">
      <div class="skeleton-line skeleton-line--nat shimmer"></div>
    </div>
  </div>
  }
</div>
