<app-header
  [isGrouping]="isGrouping()"
  [currentStrategy]="currentStrategy()"
  (searchChange)="onSearchChange($event)"
  (genderFilterChange)="onGenderFilterChange($event)"
  (nationalityFilterChange)="onNationalityFilterChange($event)"
  (strategyChange)="changeGrouping($event)"
></app-header>

<main>
  <app-user-list
    [groups]="groups()"
    [nationalityCounts]="nationalityCounts()"
    [isLoading]="isLoading() || isGrouping()"
  ></app-user-list>
</main>

<app-toast-container></app-toast-container>
