@import "ease/ease-import.scss";

:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  main {
    width: 100%;
    min-height: calc(100vh - 220px);
    padding-bottom: $spacing-xl;
  }
}
