@if (isLoading()) {
<article class="user-list">
  <app-skeleton-loader />
</article>
} @else if (flattenedItems().length) {
<article class="user-list">
  <cdk-virtual-scroll-viewport [itemSize]="itemSize" class="viewport">
    <div *cdkVirtualFor="let item of flattenedItems()" class="list-item">
      @switch (item.type) { @case ('header') {
      <app-user-group-header
        [label]="item.group!.label"
        [count]="item.group!.count"
      />
      } @case ('user') {
      <app-user-item
        [user]="item.user!"
        [nationalityCounts]="nationalityCounts()"
      />
      } }
    </div>
  </cdk-virtual-scroll-viewport>
</article>
} @else {
<article class="user-list">
  <div class="empty-state">
    <p>No users found</p>
  </div>
</article>
}
